body {
  font-family: system-ui, sans-serif;
  padding: 15px;
  background: #f7f7f7;
}

h1 {
  margin-top: 0;
}

#map {
  height: 280px;
  margin-bottom: 15px;
  border-radius: 10px;
}

button {
  padding: 12px;
  font-size: 16px;
  margin-top: 10px;
  width: 100%;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
}

.hidden {
  display: none;
}
